:root {
    --primary-color: grey;
    --btn-color: white;
    --btn-hover-color: lightskyblue;
}

/* nav bar */
#nav-bar {
    background-color: var(--primary-color);
    padding: 25px;
    margin: -10px;
}

#nav-bar button:hover{
    cursor: pointer;
    color: var(--btn-hover-color);
}
.nav-btn {
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: var(--primary-color);
    width: 6rem;
    height: 3rem;
    margin-left: 0.5rem;
    margin-top: -0.5rem;
    float: right;
}

#search {
    width: 32rem;
    height: 1.6rem;
}

.home {
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
    background-color: var(--primary-color);
    width: 8rem;
    height: 2rem;
    margin-right: 4rem;
    float: left;
}

/* main */
.main {
    background-image: none;
    text-align: center;
}

.main p {
    padding: 2rem 10rem 4rem 10rem;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

.main h1 {
    font-size: 60px;
    margin-top: 6rem;
}

.main-btn {
    background-color: var(--primary-color);
    width: 6rem;
    height: 3rem;
    border: 2px black solid;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.main-btn:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.logout, .profile {
    display: none;
}