/* containers */
.container > div {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

/* sections */
#main-section {
    display: inline-block;
    width: 53%;
    height: 60rem;
}

#book-section {
    float: right;
    position: sticky;
    top: 0px;
    width: 40%;
    height: 10rem;
}
/* image section */
#image-container {
    position: relative;
    display: flex;
    height: 400px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#image-container img{
    margin: 10px;
}

#image-section > button {
    position: absolute;
    top: 220px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#image-section > button:hover {
    cursor: pointer;
    box-shadow: 15px -15px 0 0 rgb(0, 0, 0, 0.8) inset;
}

.arrow {
    position: relative;
    display: inline-block;
    margin: 40px;
    
    padding: 40px;
    box-shadow: 15px -15px 0 0 rgb(0, 0, 0, 0.4) inset;
}

.arrow--left {
    transform: rotate(45deg);
}
.arrow--right {
    transform: rotate(225deg);
}

#slide-right {
    right: 20px;
}

#slide-left {
    left: 20px;
}

