:root {
    --primary-color: rgb(119, 158, 180);
    --btn-color: white;
    --btn-hover-color: lightskyblue;

    --star-size: 20px;
    --star-color: rgb(155, 155, 155);
    --star-background: #fc0;
}

/* containers */
.container {
    margin: 10px;
    padding: 10px;
}

/* nav bar */
#nav-bar {
    background-color:var(--primary-color);
    padding: 25px;
    margin: -10px;
    box-shadow: 0 0 15px 0 black;
}

#nav-bar button:hover{
    cursor: pointer;
    color: black;
    transition: 0.2s;
    box-shadow: 1px 1px 1px 1px black;
}
.nav-btn {
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: black;
    background-color: var(--primary-color);
    width: 6rem;
    height: 2.5rem;
    margin-right: 3rem;
    margin-top: -0.5rem;
    float: right;
}
.sign-up, .profile {
    font-weight: 600;
    color: black;
    background-color: white;
    border: 1px black solid;
    transition: 0.2s;
}

#sign-up-btn:hover, #profile-btn:hover {
    background-color: var(--btn-hover-color);
}

#search {
    width: 32rem;
    height: 1.6rem;
}

#home-btn {
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
    background-color: var(--primary-color);
    width: 8rem;
    height: 2rem;
    margin-right: 4rem;
    float: left;
}



/* sections */
.left-block {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 60rem;
    margin-left: 40px;
}

.right-block {
    display: inline-block;
    vertical-align: top;
    position: sticky;
    top: 0;
    width: 40%;
    height: 10rem;
}

/* image section */
#image-container {
    position: relative;
    display: flex;
    height: 400px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#image-container img{
    margin: 10px;
}

#image-section > button {
    position: absolute;
    top: 160px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#image-section > button:hover {
    cursor: pointer;
    box-shadow: 15px -15px 0 0 rgb(0, 0, 0, 0.8) inset;
}

.arrow {
    position: relative;
    display: inline-block;
    margin: 40px;
    
    padding: 40px;
    box-shadow: 15px -15px 0 0 rgb(0, 0, 0, 0.4) inset;
}

.arrow--left {
    transform: rotate(45deg);
}
.arrow--right {
    transform: rotate(225deg);
}

#slide-right {
    right: 20px;
}

#slide-left {
    left: 20px;
}

/* header section */
#header-section {
    padding-left: 30px;
}

#header-section > div {
    margin-bottom: 10px;
}

.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}
.Stars::before {
      content: '★★★★★';
      letter-spacing: 3px;
      background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

/* content section */
#content-section {
    padding-left: 20px;
}

#content-section > button {
    background-color: var(--btn-color);
    font-size: medium;
    border: none;
    border-bottom: 1px solid black;
}

#content-section > button:hover {
    color:  gold;
    cursor: pointer;
    border-bottom: none;
}

.content-sub {
    display: none;
    height: 400px;
}

#contact > div {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 0 0 0 15px;
}

#description {
    margin-top: 20px;
    padding: 10px 100px 0 0;
}

/* book section */
#book-section {
    height: 40rem;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.1);
}

/* comment section */
#comment-section {
    margin-left: 30px;
}