#search-bar{
    position: relative;
    width: 55%;
    display: inline-block;
}

#search-bar input{
    width: 100%;
    padding: 0 5px;
    height: 3rem;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #adadad;
    background: none;
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(160, 160, 160);
    opacity: 1;
}

#search-bar input:focus {
    background-color: rgba(252, 252, 252, 0.7);
    transition: .5s;
}

#search-bar span::before{
    content: '';
    position: absolute;
    top: 3rem;
    left: 0;
    width: 0%;
    height: 2px;
    background: #000000;
    transition: .5s;
}
#search-bar input:focus ~ label,
#search-bar input:valid ~ label{
    top: -5px;
    color: #000000;
}
#search-bar input:focus ~ span::before,
#search-bar input:valid ~ span::before{
    width: 100%;
}

#search-res {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 10rem;
    width: 100%;
    overflow: scroll;
    z-index: 1;
}
  
#search-res div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#search-res div:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#search-bar input:focus ~ #search-res {
  display: block;
}