<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diner Profile</title>
    <link rel="stylesheet" href="../static/styles/diner_profile.css">
</head>
<nav id="nav-bar">
    <button id="home">Value Eat</button>
    <input type="text" id="search">
    <button id="logout">Logout</button>
    <button id="back">Back</button>
</nav>


<body>



    <script src="../static/scripts/diner_profile.js"></script>
</body>
</html>