<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diner Profile</title>
    <link rel="stylesheet" href="../static/styles/diner_profile.css">
</head>
<nav id="nav-bar">
    <button id="home">Value Eat</button>
    <input type="text" id="search">
    <button id="logout">Logout</button>
    <button id="back">Back</button>
</nav>


<body>
    <main id="main">
        <h1>Diner Profile</h1>
        <hr/>
        <section class="container">
            <!-- default view-->
            <ul id="diner-info">
                <div>
                    <li id="fname">first name:</li>
                    <li id="lname">last name:</li>
                    <li id="ename">diner name:</li>
                </div>
                <div>
                    <li id="email">email:</li>
                    <li id="phone">phone:</li>
                </div>
                <div>
                    <li id="address">address:</li>
            </ul>
            <div id="edit">
                <button id="reset-pass">reset password</a>
                <button id="edit-profile">edit</button>
            </div>
        </section>
        
        <h2>Bookings</h2>
        <section class="container">
            <div id="voucher-switch">
                <button id="active-btn">Active bookings</button>
                <button id="previous-btn">Previous Bookings</button>
            </div>
            <div id="by-active">
                <ul id="active-head" class="list-head">
                    <li>Eatery</li>
                    <li>Day</li>
                    <li>Time</li>
                    <li>Discount</li>
                    <li>Code</li>
                </ul>
                <ul id="active">
                </ul>
                
            </div>
            <div id="by-previous">
                <ul id="previous"></ul>
            </div>
        </section>

    </main>
    <!-- subpages-->
    <section id='edit-page' class="subpage">
        <button class='close'>close</button>
        <h1>diner edit profile page</h1>
    </section>
    




    <script src="../static/scripts/diner_profile.js"></script>
</body>
</html>