<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/styles/diner_home.css">
    <link rel="stylesheet" href="../../static/styles/search_bar.css">
    <!-- <link rel="stylesheet" href="../static/styles/footer.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
    <nav id="nav-bar">
        <button class="home">Value Eat</button>
        <div id="search-bar">
            <input type="text" placeholder = "Find your eatery" id="search" required>
            <span></span>
            <div id="search-res"></div>
        </div>
        <button class="eatery nav-btn">For Eatery</button>
        <button class="sign-up nav-btn">Sign up</button>
        <button class="login nav-btn">Login</button>
        <button class="profile nav-btn">Profile</button>
        <button id = "logout-btn" class="logout nav-btn">Logout</button>
    </nav>

    <section id="login-page">
        <div class="center">
            <h1>Login</h1>
            <div id="tabs">
                <button id="diner" class="tab">Diner</button>
                <button id="eatery" class="tab">Eatery</button>
            </div>
            <form id="login-form">
                <div class="txt_field">
                    <input type="text" name="email" required>
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="txt_field">
                    <input type="text" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <div id="pass">Forgot Password</div>
                <input type="submit" value="Login">
                <div class="signup_link">
                    Not a member? <a href="#">Signup</a>
                </div>
            </form>
        </div>
    </section>

    <div class = 'box'>
        <div id="heading">
            <h1 class="h1">Promote Your Eatery</h1>
            <h1 class="h2">From Today!</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas incidunt.</p>
        </div>
        <div id="select">
            <div>
                <label>Date: </label>
                <input type="date" id="date" name="date" required>
            
                <label>Time: </label>
                <input type="time" id="voucher-start" name="start" min="00:00" max="23:59" required>
            
                <label>Numer of People: </label>
                <input type="number" id="voucher-discount" min="0" max="100" required>
            
                <button id="go-btn">Let's go</button>
            </div>
        </div>
    </div> 

    <div id="section_container">

    </div>
    
    <div class = "section">
        <div class="img">
            <img src="../static/images/food_1.jpg" alt="">
            <!-- <h2 id="name" >BB's Beach Break</h2> -->
          </div>
        <div class="details">
            <h2 id="name">BB's Beach Break</h2>
            <p>suburb</p>
            <p>cuisine</p>
            <form id="score_form">
                <div class="star_evaluate">
                    <input type="radio" id="scoreId_1" class="score score_1" name="score" value="1"/>
                    <label for="scoreId_1" class="star star_1"></label>
                    <input type="radio" id="scoreId_2" class="score score_2" name="score" value="2"/>
                    <label for="scoreId_2" class="star star_2"></label>
                    <input type="radio" id="scoreId_3" class="score score_3" name="score" value="3"/>
                    <label for="scoreId_3" class="star star_3"></label>
                    <input type="radio" id="scoreId_4" class="score score_4" name="score" value="4"/>
                    <label for="scoreId_4" class="star star_4"></label>
                    <input type="radio" id="scoreId_5" class="score score_5" name="score" value="5"/>
                    <label for="scoreId_5" class="star star_5"></label>
                </div>
            </form>
            <p>reviews</p>
        </div>
    </div>
    <hr>
    
    <div class = "section">
        <div class="img">
            <img src="../static/images/food_2.jpg" alt="">
            <!-- <h2 id="name" >BB's Beach Break</h2> -->
          </div>
        <div class="details">
            <h2 id="name">Peanut Butter Jelly</h2>
            <p display: inline-block;>suburb</p>
            <p display: inline-block;>cuisine</p>
            <form id="score_form">
                <div class="star_evaluate">
                    <input type="radio" id="scoreId_1" class="score score_1" name="score" value="1"/>
                    <label for="scoreId_1" class="star star_1"></label>
                    <input type="radio" id="scoreId_2" class="score score_2" name="score" value="2"/>
                    <label for="scoreId_2" class="star star_2"></label>
                    <input type="radio" id="scoreId_3" class="score score_3" name="score" value="3"/>
                    <label for="scoreId_3" class="star star_3"></label>
                    <input type="radio" id="scoreId_4" class="score score_4" name="score" value="4"/>
                    <label for="scoreId_4" class="star star_4"></label>
                    <input type="radio" id="scoreId_5" class="score score_5" name="score" value="5"/>
                    <label for="scoreId_5" class="star star_5"></label>
                </div>
            </form>
            <p>reviews</p>
        </div>
    </div>
    <hr>


    <div class = "section">
        <div class="img">
            <img src="../static/images/food_3.jpg" alt="">
            <!-- <h2 id="name" >BB's Beach Break</h2> -->
          </div>
        <div class="details">
            <h2 id="name">Peanut Butter Jelly Lane Cove</h2>
            <p display: inline-block;>suburb</p>
            <p display: inline-block;>cuisine</p>
            <form id="score_form">
                <div class="star_evaluate">
                    <input type="radio" id="scoreId_1" class="score score_1" name="score" value="1"/>
                    <label for="scoreId_1" class="star star_1"></label>
                    <input type="radio" id="scoreId_2" class="score score_2" name="score" value="2"/>
                    <label for="scoreId_2" class="star star_2"></label>
                    <input type="radio" id="scoreId_3" class="score score_3" name="score" value="3"/>
                    <label for="scoreId_3" class="star star_3"></label>
                    <input type="radio" id="scoreId_4" class="score score_4" name="score" value="4"/>
                    <label for="scoreId_4" class="star star_4"></label>
                    <input type="radio" id="scoreId_5" class="score score_5" name="score" value="5"/>
                    <label for="scoreId_5" class="star star_5"></label>
                </div>
            </form>
            <p>reviews</p>
        </div>
    </div>
    <hr>


    <iframe name="footer" marginwidth=0 marginheight=0 width=100% height = 1000  src="footer.html" frameborder=0>   
    </iframe>

    <!-- <footer>
        <div class="main-content">
          <div class="left box">
            <h2>About us</h2>
            <div class="content">
              <p>Value Eats, you can make online reservations, read restaurant reviews from diners, and get different vouchers</p>
              <div class="social">
                <a href="https://facebook.com/coding.np"><span class="fab fa-facebook-f"></span></a>
                <a href="#"><span class="fab fa-twitter"></span></a>
                <a href="https://instagram.com/coding.np"><span class="fab fa-instagram"></span></a>
                <a href="https://youtube.com/c/codingnepal"><span class="fab fa-youtube"></span></a>
              </div>
            </div>
          </div>
          <div class="center box">
            <h2>Address</h2>
            <div class="content">
              <div class="place">
                <span class="fas fa-map-marker-alt"></span>
                <span class="text">UNSW, Sydney</span>
              </div>
              <div class="phone">
                <span class="fas fa-phone-alt"></span>
                <span class="text">1234567890</span>
              </div>
              <div class="email">
                <span class="fas fa-envelope"></span>
                <span class="text">z5223873@unsw.edu.au</span>
              </div>
            </div>
          </div>
          <div class="right box">
            <h2>Contact us</h2>
            <div class="content">
              <form action="#">
                <div class="email">
                  <div class="text">Email *</div>
                  <input type="email" required>
                </div>
                <div class="msg">
                  <div class="text">Message *</div>
                  <textarea rows="2" cols="25" required></textarea>
                </div>
                <div class="btn">
                  <button type="submit">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="bottom">
        </div>
      </footer> -->

    
<body>



    <script src="../static/scripts/diner_home.js"></script>
    <script src="../../static/scripts/search_bar.js"></script>
    <script src="../static/scripts/logout.js"></script>
    <script src="../static/scripts/login.js"></script>
</body>
</html>