<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/styles/diner_home.css">
</head>
    <nav id="nav-bar">
        <button class="home">Value Eat</button>
        <input type="text" placeholder = "Find your eatery" id="search">
        <button class="sign-up nav-btn">Sign up</button>
        <button class="login nav-btn">Login</button>
        <button class="profile nav-btn">Profile</button>
        <button class="logout nav-btn">Logout</button>
    </nav>


    

    <section id="login-page">
        <div class="center">
            <h1>Login</h1>
            <div id="tabs">
                <button id="diner" class="tab">Diner</button>
                <button id="eatery" class="tab">Eatery</button>
            </div>
            <form id="login-form">
                <div class="txt_field">
                    <input type="text" name="email" required>
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="txt_field">
                    <input type="text" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <div id="pass">Forgot Password</div>
                <input type="submit" value="Login">
                <div class="signup_link">
                    Not a member? <a href="#">Signup</a>
                </div>
            </form>
        </div>
    </section>

<body>



    <script src="../static/scripts/diner_home.js"></script>
</body>
</html>