<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eatery Home</title>
    <link rel="stylesheet" href="../static/styles/eatery_home.css">
</head>
<body>
    <nav id="nav-bar">
        <button class="home">Value Eat</button>
        <input type="text" placeholder = "Find your eatery" id="search">
        <button class="sign-up nav-btn">Sign up</button>
        <button class="login nav-btn">Login</button>
        <button class="profile nav-btn">Profile</button>
        <button class="logout nav-btn">Logout</button>
    </nav>
    <section class="container">
        <div class="shapes">
            <div>
                <div class="mainDiv">
                    <div class="square color1">V</div>
                    <div class="square2">A</div>
                    <div class="square3">L</div>
                </div>
                <div class="mainDiv first">
                    <div class="square">U</div>
                    <div class="square2 color2">E</div>
                    <div class="square3 color3"></div>
                </div>
            </div>
            <div>
                <div class="mainDiv second">
                    <div class="square">E</div>
                    <div class="square2">A</div>
                    <div class="square3 color4">T</div>
                </div>
            </div>
        </div>
        <div class="main">
            <h1 class="h1">Promote Your Eatery</h1>
            <h1 class="h2">From Today!</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas incidunt.</p>
            <button class="sign-up main-btn">Sign Up</button>
            <button class="profile main-btn">Go to Profile</button>
        </div>
    </section>
    <section id="login-page">
        <div class="center">
            <h1>Login</h1>
            <div id="tabs">
                <button id="diner" class="tab">Diner</button>
                <button id="eatery" class="tab">Eatery</button>
            </div>
            <form id="login-form">
                <div class="txt_field">
                    <input type="text" name="email" required>
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="txt_field">
                    <input type="text" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <div id="pass">Forgot Password</div>
                <input type="submit" value="Login">
                <div class="signup_link">
                    Not a member? <a href="#">Signup</a>
                </div>
            </form>
        </div>
    </section>
    <script src="../static/scripts/eatery_home.js"></script>
</body>
</html>