<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eatery sign up</title>
    <link rel="stylesheet" href="../static/styles/eatery_register.css">
</head>
<body>
    <section class="container">
        <div class="content">
            <button id="back-home" class="back-home">X</button>
            <h1>Eatery Register Form</h1>
            <form id="sign-up-form" class="sign-up-form" name="sign-up-form">
                <div class="txt_field left">
                    <input type="text" name="fname" id="fname" required>
                    <span></span>
                    <label for="fname">* first name:</label>
                </div>
                <div class="txt_field right">
                    <input type="text" name="lname" id="lname" required>
                    <span></span>
                    <label for="lname">* last name:</label>
                </div>
                <div class="txt_field left">
                    <input type="email" name="email" id="email" required>
                    <span></span>
                    <label for="email">* email:</label>
                </div>
                <div class="txt_field right">
                    <input type="text" name="phone" id="phone" required>
                    <span></span>
                    <label for="phone">* phone:</label>
                </div>
                <div class="txt_field left">
                    <input type="text" name="password" id="password" required>
                    <span></span> 
                    <label for="password">* password:</label>
                </div>
                <div class="txt_field right">
                    <input type="text" name="ename" id="ename" required>
                    <span></span>
                    <label for="ename">* eatery name:</label>
                </div>
                <h4>cuisine types</h4>
                <div class="btn_field whole">
                    <span id="cuisines"></span>
                </div>
                <div class="txt_field left">
                    <input type="text" id="cuisine" />
                    <span></span>
                    <label for="cuisine">enter one cuisine:</label>
                </div>
                <div class="btn_field right">
                    <button id="add-cuisine">add cuisine</button>
                </div>
                <div class="txt_field left">
                    <input type="text" name="city" id="city" required>
                    <span></span>
                    <label for="city">* city:</label>
                </div>
                <div class="txt_field right">
                    <input type="text" name="suburb" id="suburb" required>
                    <span></span>
                    <label for="suburb">* suburb:</label>
                </div>
                <div class="txt_field whole">
                    <input type="text" name="address" id="address" required>
                    <span></span>
                    <label for="address">* address:</label>
                </div>
                <div class="file_field whole" style="display: none;">
                    <label for="menu">menu:</label>
                    <input type="file" name="menu" id="menu">
                    <span></span>
                </div>
                <div class="txt_field whole">
                    <input type="text" name="description" id="description">
                    <span></span>
                    <label for="description">description:</label>
                </div>
                
                <input type="submit" id="submit" value="sign up">
            </form>
        </div>
        <div class="img"></div>
        <section id="signup-failed-page" class="signup-failed-page">
            <div class="center">
                <h3 id="signup-failed-msg"></h3>
            </div>
        </section>
    </section>
    
    <script src="../static/scripts/eatery_register.js"></script>
</body>
</html>