<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eatery Home</title>
    <link rel="stylesheet" href="../static/styles/eatery_home.css">
    <link rel="stylesheet" href="../static/styles/search_bar.css">
    <link rel="stylesheet" href="../static/styles/nav_bar.css">
    <link rel="stylesheet" href="../static/styles/login.css">
</head>
<body>
    <nav id="nav-bar">
        <button class="home">Value Eat</button>
        <div id="search-bar">
            <input type="text" placeholder = "Find your eatery" id="search" required>
            <span></span>
            <div id="search-res"></div>
        </div>
        <button class="sign-up nav-btn">Sign up</button>
        <button class="login nav-btn">Login</button>
        <button class="profile nav-btn">Profile</button>
        <button id="logout-btn" class="logout nav-btn">Logout</button>
    </nav>
    <section id="intro">
        <h1>Promote Your Eatery From Today</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
            dolore eos, asperiores aperiam esse vel hic repudiandae! Iure distinctio perferendis, 
            illo autem corrupti atque sed quos a dignissimos voluptatibus? Quos.</h2>
        <div>
            <button class="sign-up main-btn">Sign Up</button>
            <button class="profile main-btn">Go to Profile</button>
        </div>
    </section>
    <section id="login-page">
        <div class="center">
            <h1>Login</h1>
            <p id="login-msg"></p>
            <div id="tabs">
                <button id="diner" class="tab">Diner</button>
                <button id="eatery" class="tab">Eatery</button>
            </div>
            <form id="login-form">
                <div class="txt_field">
                    <input type="text" name="email" required>
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="txt_field">
                    <input type="text" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <div id="pass">Forgot Password</div>
                <div class="signup_link">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </section>
    {% include "footer.html" %}
    <script src="../static/scripts/eatery_home.js"></script>
    <script src="../static/scripts/logout.js"></script>
    <script src="../static/scripts/search_bar.js"></script>
    <script src="../static/scripts/login.js"></script>
</body>
</html>