<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eatery public</title>
    <link rel="stylesheet" href="../../static/styles/eatery_public_profile.css">
    <link rel="stylesheet" href="../../static/styles/login.css">
</head>
<body>
    <nav id="nav-bar">
        <button id="home-btn">Value Eat</button>
        <input type="text" placeholder = "Find your eatery" id="search">
        <button id="sign-up-btn" class="nav-btn">sign-up</button>
        <button id="profile-btn" class="nav-btn">profile</button>
        <button id="login-btn" class="nav-btn">login</button>
        <button id="logout-btn" class="nav-btn">logout</button>
    </nav>
    <div id="image-section" class="container">
        <div id="image-container"></div>
        <button id="slide-right" class="arrow arrow--right"></button>
        <button id="slide-left" class="arrow arrow--left"></button>
    </div>
    <div class="left-block">
        <div id="header-section"  class="container">
            <h1 id="eatery-name"></h1>
            <div>
                cuisines: <span id="cuisine"></span>
            </div>
            <div>
                rating: <div class="Stars" style="--rating: 3.3;"></div><span> 3.3</span>
            </div>
        </div>
        <div id="main-section"  class="container">
            <div id="content-section">
                <h1>Overview</h1>
                <button id="description-btn"> Description & Menu</button> /
                <button id="contact-btn"> Address & Contact</button> /
                <div id="description" class="content-sub">
                    <p>The eatery is too lazy, didn't write any description</p>
                </div>
                <div id="contact" class="content-sub">
                    <div>
                        <h3>City</h3>
                        <p id="city">city</p>
                    </div>
                    <div>
                        <h3>Suburb</h3>
                        <p id="suburb">suburb</p>
                    </div>
                    <div>
                        <h3>Address</h3>
                        <p id="address">address</p>
                    </div>
                    <div>
                        <h3>Phone</h3>
                        <p id="phone">phone</p>
                    </div>
                    <div>
                        <h3>Email</h3>
                        <p id="email">email</p>
                    </div>
                </div>
                <div id="menu">

                </div>
            </div>
            <div id="comment-section">
                <h1>Comment</h1>
                comment
            </div>
        </div>
    </div>
    <div id="book-section" class="container right-block">
        <h2> vouchers booking section</h2>
    </div>
    <section id="login-page">
        <div class="center">
            <h1>Login</h1>
            <p id="login-msg"></p>
            <div id="tabs">
                <button id="diner" class="tab">Diner</button>
                <button id="eatery" class="tab">Eatery</button>
            </div>
            <form id="login-form">
                <div class="txt_field">
                    <input type="text" name="email" required>
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="txt_field">
                    <input type="text" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <div id="pass">Forgot Password</div>
                <div class="signup_link">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </section>
    <script src="../../static/scripts/eatery_public_profile.js"></script>
    <script src="../../static/scripts/logout.js"></script>
    <script src="../../static/scripts/login.js"></script>
</body>
</html>