<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eatery Details</title>
    <link rel="stylesheet" href="../styles/eatery_public_profile.css">
</head>
<body>
    <nav id="nav-bar">
        <button class="home">Value Eat</button>
        <input type="text" id="search">
        <button class="login nav-btn">Login</button>
        <button class="sign-up nav-btn">Sign up</button>
        <button class="profile nav-btn">Profile</button>
        <button class="logout nav-btn">Logout</button>
    </nav>
</body>
</html>