:root {
    --primary-color: grey;
    --btn-color: white;
    --btn-hover-color: lightskyblue;
    --container-color: lightgrey;
    --primary-font-fam: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --primary-font-size: 20px;
}

main {
    margin-top: 8rem;
}

/* nav bar */
#nav-bar {
    background-color: var(--primary-color);
    padding: 25px;
    margin-left: -10px;
    width: 100%;
    top: 0;
    position: fixed;
}

#nav-bar button:hover{
    cursor: pointer;
    color: var(--btn-hover-color);
}

#nav-bar button {
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: var(--primary-color);
    width: 6rem;
    height: 3rem;
    margin-top: -0.5rem;
    margin-right: 1rem;
    float: right;
}

#nav-bar button:nth-child(3) {
    margin-right: 3rem;
}

#nav-bar button:first-child {
    font-size: larger;
    font-style: italic;
    width: 8rem;
    float: left;
    margin-right: 4rem;
}

#nav-bar input {
    width: 32rem;
    height: 1.6rem;
}

/* container */
.container {
    background-color: var(--container-color);
    margin: 1.5rem;
    padding: 1rem;
    padding-bottom: 6rem;
    font-family: var(--primary-font-fam);
    font-size: 20px;
}

.container button {
    font: 16px, var(--primary-font-fam);
    margin-right: 2rem;
    border: none;
    width: 10rem;
    height: 3rem;
}

.container button:hover {
    background-color: lightblue;
    cursor: pointer;
}

.list-head > li{
    display: inline-block;
    width: 11rem;
    text-align: center;
    border-left: solid;
    border-bottom: solid;
}

/* basic information */
#eatery-info > div > li{
    display: inline-block;
    width: 20rem;
    margin-bottom: 2rem;
}

#edit {
    float: right;
    margin-top: 1rem;
}


/* add schedule & vouchers */
#voucher-switch button {
    margin: 0;
    font: var(--primary-font-size), var(--primary-font-fam);
    width: 15rem;
    height: 2.5rem;
    background-color: var(--primary-container-color);
    border: none;
    border-bottom: var(--btn-color) 4px solid;
}

#voucher-switch button:hover {
    cursor: pointer;
    color: var(--btn-hover-color);
}

#schedule li {
    display: inline-block;
    width: 10rem;
    text-align: center;
    margin-right: 1rem;
}

#schedule ul {
    border: 3px solid;
    width: 95%;
    height: 2rem;
    margin-bottom: 1rem;
}

#add-schedule-btn {
    float: right;
    margin-top: 1rem;
}

#add-voucher-btn {
    float: right;
    margin-top: 1rem;
}

/* reservation */


#reservation > ul > li{
    display: inline-block;
    width: 12rem;
    text-align: center;
}

/* subpage */
.subpage {
    display: none;
    background-color: var(--container-color);
    top: 3rem;
    position: fixed;
}

/* edit profile subpage */
#edit-page {
    left:25%;
    width: 50%;
    height: 80%;
}


/* add schedule subpage */
#add-schedule {
    left:25%;
    width: 50%;
    height: 80%;
}

#add-schedule .close {
    display: block;
}

#add-schedule > h1 {
    text-align: center;
}

#schedule-form > ul{
    margin-top: 3rem;
    list-style: none;
}

#schedule-form li {
    display: inline-block;
    width: 13rem;
    margin-left: 5%;
    margin-bottom: 2rem;
}

#schedule-form label {
    font: var(--primary-font-size) var(--primary-font-fam);
    margin-right: 1rem;
}

#schedule-form input,select {
    height: 2rem;
    font-size: large;
}

#schedule select:hover {
    cursor: pointer;
}

.submit {
    margin-left: 25%;
    width: 20rem;
    height: 4rem;
    text-align: center;
    font: var(--primary-font-size) var(--primary-font-fam);
}


